
  button{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    /* height: 40px;
    width: 100px; */
    padding: 13px 25px; /* shorthand for padding-top, padding-right, padding-bottom, padding-left */
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* adds a shadow effect on hover */
  }
