
  p{
    font-family: Verdana;
    color:black;
    margin-top: 0;
    margin-bottom: 0; 
  }
  .heading {
    font-size: 30px;
    font-weight: bold;
  }
  .note {
    font-size: 18px;
    color: rgb(133, 133, 124);
    margin-top: 5px;

  }
  .description {
    font-size: 18px;
    margin-top: 20px;
    width: 70%;
    line-height: 1.5; 
  }
  .start {
    background-color: rgb(30, 161, 39);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
