
  p{
    font-family: Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  .a1 {
    color: black;
    font-size: 35px;
  }
  .a11 {
    color: rgb(121, 117, 117);
    font-size: 22px;
  }
  .a2 {
    font-size: 20px;
    color: rgb(0, 128, 0);
    margin-top: 10px;
  }
  .a3 {
    font-size: 18px;
    color: rgb(121, 117, 117);
    margin-top: 10px;
  }
  .a32 {
    color: rgb(255, 0, 0);
  }
