
  p {
    font-family: Arial;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
    color:black;
    line-height: 30px;
  }
  .a1 {
    font-weight: bold;
  }
  .a11 {
    color: rgb(121, 117, 117);
    font-weight: normal;
  }
  .a31 {
    color: rgb(0, 140, 255);
  }
